.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
span{
  color: aqua;
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

a.app-name {
  margin-left: 8px;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

h1 span {
  color: rgb(12, 240, 171);
}

.sidenav-container {
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.toolbar {
  background-color: #343A40;
  color: #ffffff;
}

mat-sidenav {
  width: 200px;
  background-color: #212529;
}

main {
  margin: 20px auto;
  padding: 0px 25px;
}